body{
	background-color: #FEFEFE;
}

h1{
	text-align: center;
}

nav {
	border-top : 1px solid #33AAFF;
	border-bottom : 1px solid #33AAFF;
}

nav a.logo{
	display: block;
	margin : 10px;
}

div.overview{
	border : 1px solid #000;
	width : 333px;
	margin : auto;
	margin-top : 45px;
}

div#trend{
	width: 200px;
	height: 150px;
	overflow: hidden;
	margin: auto;
	background-color: #DFDFDF;
}

div.lastModified{
	border-bottom : 1px solid #000;
}

span.label{
	background-color: #DADADA;
	display: inline-block;
	width : 150px;
	margin-right : 5px;
	padding-right : 5px;
	border-right : 1px solid #000;
}

div.wtfSnippets{
	width : 1024px;
	margin: auto;
	padding: 10px;
	padding-top: 0px;
}

div.wtfSnippets > div{
	border : 1px solid #000;
	margin-top : 10px;
	float: left;
}

div.wtfSnippets div.line, 
div.wtfSnippets div.snippet
{
	float: left;
	top : 0px;
	left : 0px;
}

div.wtfSnippets div.line{
	border-bottom : 1px solid #000;
	vartical-align: top;
	padding-right : 5px;
	width: 200px;
}

div.wtfSnippets div.snippet{
	border-left : 1px solid #000;
	width: 730px;
	padding-left : 10px;
}

table.wtfFileList{
	width : 100%;
}

table.wtfFileList tr:nth-child(even) {
	background: #FDFDFD;
}

table.wtfFileList tr:nth-child(odd) {
	background: #FAFAFA;
}

table.wtfFileList td,
table.wtfFileList th
{
	border : 1px solid #000;
}

table.wtfFileList th{
	background-color: none;
}

